Import

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv').loc[:,'Types of Transaction':'Type of Transaction']
df.head()

,Types of Transaction,Month,Year,Volume,Amount,Type of Transaction
0,Interbank,Jan,2016.0,42925.0,1.007605e+13,BSP
1,Interbank,Feb,2016.0,43437.0,1.017863e+13,BSP
2,Interbank,Mar,2016.0,48952.0,1.299310e+13,BSP
3,Interbank,Apr,2016.0,46201.0,1.187151e+13,BSP
4,Interbank,May,2016.0,47436.0,1.168030e+13,BSP

### Data Cleaning

In [3]:
df.shape

(1532, 6)

In [4]:
df = df.dropna()
df.shape

(1148, 6)

In [5]:
df['YrMo'] = df['Month'] + ' ' + df['Year'].astype(int).astype(str)
df.head()

,Types of Transaction,Month,Year,Volume,Amount,Type of Transaction,YrMo
0,Interbank,Jan,2016.0,42925.0,1.007605e+13,BSP,Jan 2016
1,Interbank,Feb,2016.0,43437.0,1.017863e+13,BSP,Feb 2016
2,Interbank,Mar,2016.0,48952.0,1.299310e+13,BSP,Mar 2016
3,Interbank,Apr,2016.0,46201.0,1.187151e+13,BSP,Apr 2016
4,Interbank,May,2016.0,47436.0,1.168030e+13,BSP,May 2016

In [6]:
df['YrMo'] = pd.to_datetime(df['YrMo'], format='%b %Y')
df.head()

,Types of Transaction,Month,Year,Volume,Amount,Type of Transaction,YrMo
0,Interbank,Jan,2016.0,42925.0,1.007605e+13,BSP,2016-01-01
1,Interbank,Feb,2016.0,43437.0,1.017863e+13,BSP,2016-02-01
2,Interbank,Mar,2016.0,48952.0,1.299310e+13,BSP,2016-03-01
3,Interbank,Apr,2016.0,46201.0,1.187151e+13,BSP,2016-04-01
4,Interbank,May,2016.0,47436.0,1.168030e+13,BSP,2016-05-01

### Yearly

In [7]:
df_3rd_yr = df[df['Type of Transaction']=='3rd Party'].groupby('Year').sum()
df_bsp_yr = df[df['Type of Transaction']=='BSP'].groupby('Year').sum()
df_tot_yr = df.groupby('Year').sum()

df_3rd_yr['Period'] = df_3rd_yr.index.astype(int)
df_bsp_yr['Period'] = df_bsp_yr.index.astype(int)
df_tot_yr['Period'] = df_tot_yr.index.astype(int)

#Sample
df_tot_yr.head()

           Volume        Amount  Period
Year
2016.0  1510586.0  4.660751e+14    2016
2017.0  1806410.0  2.654199e+14    2017
2018.0  1624782.0  2.603146e+14    2018
2019.0   470719.0  3.037959e+13    2019

### Monthly

In [8]:
df_3rd_mo = df[df['Type of Transaction']=='3rd Party'].groupby(df['YrMo']).sum()
df_bsp_mo = df[df['Type of Transaction']=='BSP'].groupby(df['YrMo']).sum()
df_tot_mo = df.groupby(df['YrMo']).sum()

df_3rd_mo['Period'] = df_3rd_mo.index.strftime('%Y %b')
df_bsp_mo['Period'] = df_bsp_mo.index.strftime('%Y %b')
df_tot_mo['Period'] = df_tot_mo.index.strftime('%Y %b')

#Sample
df_tot_mo.head()

               Year    Volume        Amount    Period
YrMo
2016-01-01  58464.0  108930.0  2.229718e+13  2016 Jan
2016-02-01  58464.0  113141.0  2.281196e+13  2016 Feb
2016-03-01  58464.0  124584.0  3.036347e+13  2016 Mar
2016-04-01  58464.0  123015.0  2.937663e+13  2016 Apr
2016-05-01  58464.0  129294.0  2.978173e+13  2016 May

### Quarterly

In [9]:
df_3rd_qtr = df[df['Type of Transaction']=='3rd Party'].resample('Q', on='YrMo').sum()
df_bsp_qtr = df[df['Type of Transaction']=='BSP'].resample('Q', on='YrMo').sum()
df_tot_qtr = df.resample('Q', on='YrMo').sum()

df_3rd_qtr['Period'] = df_3rd_qtr.index.strftime('%Y %b')
df_bsp_qtr['Period'] = df_bsp_qtr.index.strftime('%Y %b')
df_tot_qtr['Period'] = df_tot_qtr.index.strftime('%Y %b')

#Sample
df_bsp_qtr.head()

                Year    Volume        Amount    Period
YrMo
2016-03-31  145152.0  220330.0  7.546706e+13  2016 Mar
2016-06-30  145152.0  235708.0  1.201790e+14  2016 Jun
2016-09-30  145152.0  236296.0  1.593637e+14  2016 Sep
2016-12-31  145152.0  226236.0  1.110393e+14  2016 Dec
2017-03-31  145224.0  226145.0  3.670916e+13  2017 Mar

# Dash

In [10]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

In [ ]:
app = dash.Dash(__name__, external_stylesheets = external_stylesheets)

app.title = 'Payment System Dash'
app.layout = html.Div([
    html.H1('Payment System'),
    
    html.Div([
        html.H5('Time Periods:'),
        dcc.RadioItems(
            id='radio',
            options=[
                {'label':'Yearly', 'value':'yr'},
                {'label':'Monthly', 'value':'mo'},
                {'label':'Quarterly', 'value':'qtr'}
            ], labelStyle={'display': 'inline-block'}, value='yr'),
        ]),
    
    html.Div([
        html.Div([dcc.Graph(id = '3rd-party-amt')], className='four columns'),
        html.Div([dcc.Graph(id = '3rd-party-vol')], className='four columns'),
        html.Div([dcc.Graph(id = '3rd-party-pie')], className='four columns')
    ], className='row'),
    
    html.Div([
        html.Div([dcc.Graph(id = 'bsp-amt')], className='four columns'),
        html.Div([dcc.Graph(id = 'bsp-vol')], className='four columns'),
        html.Div([dcc.Graph(id = 'bsp-pie')], className='four columns')
    ], className='row'),
    
    html.Div([
        html.Div([dcc.Graph(id = 'tot-amt')], className='four columns'),
        html.Div([dcc.Graph(id = 'tot-vol')], className='four columns'),
        html.Div([dcc.Graph(id = 'tot-pie')], className='four columns')
    ], className='row')
])


@app.callback(
    dash.dependencies.Output('3rd-party-amt', 'figure'),
    [dash.dependencies.Input('radio', 'value')])
def show_graph1(value):
    if value == 'yr':
        dff = df_3rd_yr
    elif value == 'mo':
        dff = df_3rd_mo
    elif value == 'qtr':
        dff = df_3rd_qtr
    figure = {
        'data': [
            go.Bar(x=dff['Period'], y=dff['Amount'], name='3rd Party by Amount')
        ],
        'layout': go.Layout(
            title = '3rd Party by Amount'
        )
    }
    return figure

@app.callback(
    dash.dependencies.Output('3rd-party-vol', 'figure'),
    [dash.dependencies.Input('radio', 'value')])
def show_graph2(value):
    if value == 'yr':
        dff = df_3rd_yr
    elif value == 'mo':
        dff = df_3rd_mo
    elif value == 'qtr':
        dff = df_3rd_qtr
    figure = {
        'data': [
            go.Bar(x=dff['Period'], y=dff['Volume'], name='3rd Party by Volume')
        ],
        'layout': go.Layout(
            title = '3rd Party by Volume'
        )
    }
    return figure

@app.callback(
    dash.dependencies.Output('3rd-party-pie', 'figure'),
    [dash.dependencies.Input('radio', 'value')])
def show_graph3(value):
    if value == 'yr':
        dff = df_3rd_yr
    elif value == 'mo':
        dff = df_3rd_mo
    elif value == 'qtr':
        dff = df_3rd_qtr
    figure = {
        'data': [
            go.Pie(values=dff['Volume'],labels=dff['Period'], name='3rd Party by Volume'),
        ],
        'layout': go.Layout(
            title = '3rd Party by Volume'
        )
    }
    return figure

@app.callback(
    dash.dependencies.Output('bsp-amt', 'figure'),
    [dash.dependencies.Input('radio', 'value')])
def show_graph4(value):
    if value == 'yr':
        dff = df_bsp_yr
    elif value == 'mo':
        dff = df_bsp_mo
    elif value == 'qtr':
        dff = df_bsp_qtr
    figure = {
        'data': [
            go.Bar(x=dff['Period'], y=dff['Amount'], name='BSP by Amount')
        ],
        'layout': go.Layout(
            title = 'BSP by Amount'
        )
    }
    return figure

@app.callback(
    dash.dependencies.Output('bsp-vol', 'figure'),
    [dash.dependencies.Input('radio', 'value')])
def show_graph5(value):
    if value == 'yr':
        dff = df_bsp_yr
    elif value == 'mo':
        dff = df_bsp_mo
    elif value == 'qtr':
        dff = df_bsp_qtr
    figure = {
        'data': [
            go.Bar(x=dff['Period'], y=dff['Volume'], name='BSP by Volume')
        ],
        'layout': go.Layout(
            title = 'BSP by Volume'
        )
    }
    return figure

@app.callback(
    dash.dependencies.Output('bsp-pie', 'figure'),
    [dash.dependencies.Input('radio', 'value')])
def show_graph6(value):
    if value == 'yr':
        dff = df_bsp_yr
    elif value == 'mo':
        dff = df_bsp_mo
    elif value == 'qtr':
        dff = df_bsp_qtr
    figure = {
        'data': [
            go.Pie(values=dff['Volume'],labels=dff['Period'], name='BSP by Volume'),
        ],
        'layout': go.Layout(
            title = 'BSP by Volume'
        )
    }
    return figure

@app.callback(
    dash.dependencies.Output('tot-amt', 'figure'),
    [dash.dependencies.Input('radio', 'value')])
def show_graph7(value):
    if value == 'yr':
        dff = df_tot_yr
    elif value == 'mo':
        dff = df_tot_mo
    elif value == 'qtr':
        dff = df_tot_qtr
    figure = {
        'data': [
            go.Bar(x=dff['Period'], y=dff['Amount'], name='Total by Amount')
        ],
        'layout': go.Layout(
            title = 'Total by Amount'
        )
    }
    return figure

@app.callback(
    dash.dependencies.Output('tot-vol', 'figure'),
    [dash.dependencies.Input('radio', 'value')])
def show_graph8(value):
    if value == 'yr':
        dff = df_tot_yr
    elif value == 'mo':
        dff = df_tot_mo
    elif value == 'qtr':
        dff = df_tot_qtr
    figure = {
        'data': [
            go.Bar(x=dff['Period'], y=dff['Volume'], name='Total by Volume')
        ],
        'layout': go.Layout(
            title = 'Total by Volume'
        )
    }
    return figure

@app.callback(
    dash.dependencies.Output('tot-pie', 'figure'),
    [dash.dependencies.Input('radio', 'value')])
def show_graph9(value):
    if value == 'yr':
        dff = df_tot_yr
    elif value == 'mo':
        dff = df_tot_mo
    elif value == 'qtr':
        dff = df_tot_qtr
    figure = {
        'data': [
            go.Pie(values=dff['Volume'],labels=dff['Period'], name='Total by Volume'),
        ],
        'layout': go.Layout(
            title = 'Total by Volume'
        )
    }
    return figure



if __name__ == '__main__':
    app.run_server(debug=False)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)